:root {
  --primary-color: #000000; /* Black */
  --secondary-color: #5d737e; /* Blue Slate */
  --tertiary-color: #fff07c; /* Banana Cream */
  --quaternary-color: #f0f7ee; /* Mint Cream */
  --quinary-color: #87bba2; /* Muted Teal */

  --text-primary-color: #f0f7ee; /* Mint Cream - for use on Black background */
  --text-secondary-color: #f0f7ee; /* Mint Cream - for use on Blue Slate background */
  --text-tertiary-color: #000000; /* Black - for use on Banana Cream background */
  --text-quaternary-color: #000000; /* Black - for use on Mint Cream background */
  --text-quinary-color: #000000; /* Black - for use on Muted Teal background */

  --primary-margin: 2rem;
  --secondary-margin: 1rem;

  --primary-padding: 2rem;
  --secondary-padding: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 700px;
  margin: var(--primary-margin) auto;
  background-color: var(--primary-color);
}

h1 {
  text-align: center;
  color: var(--text-primary-color);
  background-color: rgba(0, 0, 0, 0);
  font-size: 3rem;
  margin-bottom: var(--primary-margin);
}

section {
  background-color: var(--secondary-color);
  color: var(--text-secondary-color);
  padding: var(--primary-padding);
  margin-bottom: var(--primary-margin);
}

ul li {
  list-style-type: none;
}

p {
  margin: 1rem 0;
}

.space-font,
h2 {
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}
