:root {
  --primary-color: #19381f; /* dark-green */
  --secondary-color: #eee82c; /* yellow */
  --tertiary-color: #91cb3e; /* yellow-green */

  --text-main-color: #ffffff; /* for dark-green */
  --text-secondary-color: #19381f; /* for yellow */
  --text-tertiary-color: #19381f; /* for yellow-green */

  --primary-padding: 2rem;
  --secondary-padding: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: auto 1fr auto / auto 1fr auto;
}

header,
footer {
  width: 100%;
  grid-column: 1 / 4;
}

nav {
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

nav ul a {
  text-decoration: none;
  color: var(--text-secondary-color);
}

ul li {
  list-style-type: none;
  padding: var(--secondary-padding);
}

main {
  grid-column: 1 / 3;
}

aside {
  grid-column: 3 / 4;
}

div {
  padding: var(--primary-padding);
}

/* class selectors */

.bg-primary-color {
  color: var(--text-main-color);
  background-color: var(--primary-color);
}

.bg-secondary-color {
  color: var(--text-secondary-color);
  background-color: var(--secondary-color);
}

.bg-tertiary-color {
  color: var(--text-tertiary-color);
  background-color: var(--tertiary-color);
}
