nav {
  display: none;
}

nav ul {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
}

main {
  max-width: 700px;
  margin: 0 auto;
}

.temple-gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
}

.hamburger-menu {
  display: block;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}
