nav {
  display: flex;
  justify-content: space-around;
}

nav a:hover {
}

main {
  max-width: 700px;
  margin: auto 0;
}

.temple-gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
}
