@media screen and (min-width: 800px) {
  .temple-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  nav ul li a {
    padding: 10px 15px;
  }

  nav ul li a:hover {
    text-decoration: underline double;
    background-color: var(--secondary-color);
  }

  nav {
    display: block;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
  }

  .hamburger-menu {
    display: none;
  }
}
