body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

header,
main,
footer {
  max-width: 640px;
  margin: 1rem auto;
  /* a transparent border */
  border: 8px solid rgba(53, 164, 255, 0.288);
  padding: 1rem;
  background-color: lightblue;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

section {
  padding: 1rem;
  background-color: white;
}
